@media (max-width: 1100px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
  .canvas-container {
    grid-column: span 2;
    order: -1;
  }
}

@media (max-width: 700px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .canvas-container {
    grid-column: 1;
  }
}
